header {
  background: #2f0cdd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .header__conteiner {
    max-width: 1440px;
    width: 100%;
    margin: auto;

    .header__items {
      display: grid;
      grid-template-columns: 0.1fr 2fr 0.2fr;
      align-items: center;
      height: 70px;     

      .header__nav {
        max-width: 500px;
        width: 100%;
        padding-left: 100px;

        .header__nav-items {
          display: flex;
          justify-content: space-between;
        }
      }

      .header__search {
        padding: 0 15px;

        i {
          color: #fff;
          font-size: 20px;

          &:hover {
            color: #ff7b00;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header .header__conteiner .header__items .header__search {
    padding: 0;
  }
}





