.not-found {
  text-align: center;

  p {
    font-family: "Poppins Light";
    font-weight: 300;
    line-height: 35px;
    font-size: 20px;
  }
}

.please-enter {
  padding-top: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-results {
  padding-bottom: 0;
}

.no-source {
  padding-top: 100px;
}

@media (max-width: 768px) {

  .please-enter {
    padding-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .not-found p {
    font-size: 14px;
    line-height: 18px;
  }
}