ul#componentContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.pagination-container {
  margin: 0 0 30px 0;
  column-gap: 10px;
}

.paginate-buttons {
  height: 60px;
  width: 60px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(217, 217, 217);
  color: black;
  font-size: 14px;
}

.paginate-buttons:hover {
  background-color: #d8d8d8;
}

.active-page {
  background-color: #172a47;
  border: 1px solid #172a47;
  color: white;
}

.active-page:hover {
  background-color: #172a47;
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

@media (max-width: 540px) {
  .paginate-buttons {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}