.header__social, .footer__social {
  display: flex;
  padding-right: 15px;
  gap: 19px;

  a {
    color: #fff;
    font-size: 24px;

    &:hover {
      color: #ff7b00;
    }
  }
}

.contacts__social {
  display: flex;
  padding-right: 15px;
  gap: 19px;

  a {
    color: #000;
    font-size: 20px;

    &:hover {
      color: #ff7b00;
    }
  }
}

@media (max-width: 540px) {
  .contacts__social {
    padding-left: 10px;
  }

  .header__social a {
    font-size: 18px;
  }
}