.contacts__conteiner {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.contacts__conteiner .contacts__items {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  padding: 100px 15px;
}

.contacts__conteiner .contacts__items h2 {
  font-family: "Arial Black";
  font-weight: 700;
  color: #2f0cdd;
  font-size: 40px;
  width: 100%;
}

.contacts__conteiner .contacts__items .contacts__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contacts__conteiner .contacts__items .contacts__content .content-items {
  display: flex;
  gap: 50px;
}

.contacts__conteiner .contacts__items .contacts__content .content-items .content-item:nth-child(2) {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  padding: 0 50px;
}

.contacts__conteiner .contacts__items .contacts__content .content-items .content-item .item-lable {
  font-family: "Arial Black";
  font-weight: 700;
  color: #000;
  font-size: 24px;
  padding-bottom: 30px;
}

.contacts__conteiner .contacts__items .contacts__content .content-items .content-item .item-data {
  color: #000;
  font-family: "Poppins Light";
  font-weight: 300;
  line-height: 35px;
  font-size: 20px;
}

.contacts__conteiner .contacts__items .contacts__content .contacts__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contacts__conteiner .contacts__items .contacts__content .contacts__form .form-field {
  height: 50px;
  width: 100%;
}

.contacts__conteiner .contacts__items .contacts__content .contacts__form textarea {
  height: 100px;
}

.contacts__conteiner .contacts__items .contacts__content .contacts__form .submit {
  background: #2f0cdd;
  border: none;
  font-family: "Arial Black";
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.contacts__conteiner .contacts__items .contacts__content .contacts__form .submit:hover {
  background: #ff7b00;
}

@media (max-width: 1024px) {
  .contacts__conteiner .contacts__items .contacts__content .content-items {
    gap: 15px;
  }

  .contacts__conteiner .contacts__items .contacts__content .content-items .content-item:nth-child(2) {
    padding: 0 15px;
  }

  .contacts__conteiner .contacts__items .contacts__content .content-items .content-item .item-lable {
    font-size: 18px;
  }

  .contacts__conteiner .contacts__items .contacts__content .content-items .content-item .item-data {
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  .contacts__conteiner .contacts__items {
    display: flex;
    flex-direction: column;
  }

  .contacts__conteiner .contacts__items h2 {
    font-size: 28px;
    text-align: center;
  }

  .contacts__conteiner .contacts__items .contacts__content .contacts__form {
    max-width: 400px;
    display: flex;
    align-items: center;
  }

  .contacts__conteiner .contacts__items .contacts__content .contacts__form .form-email {
    min-width: 400px;
  }

  .contacts__conteiner .contacts__items .contacts__content .contacts__form textarea {
    min-width: 400px;
  }

  .contacts__conteiner .contacts__items .contacts__content .content-items {
    padding: 0 15px;
  }
}

@media (max-width: 540px) {
  .contacts__conteiner .contacts__items {
    padding: 0 15px;
  }

  .contacts__conteiner .contacts__items h2 {
    font-size: 25px;
  }

  .contacts__conteiner .contacts__items .contacts__content {
    margin-bottom: 50px;
  }

  .contacts__conteiner .contacts__items .contacts__content .content-items {
    display: flex;
    flex-direction: column;
  }

  .contacts__conteiner .contacts__items .contacts__content .content-items .content-item:nth-child(2) {
    border-right: none;
    border-left: none;
    padding: 0;
  }

  .contacts__conteiner .contacts__items .contacts__content .content-items .content-item {
    display: flex;
  }

  .contacts__conteiner .contacts__items .contacts__content .content-items .content-item .item-data {
    line-height: 20px;
    padding-left: 10px;
  }

  .contacts__conteiner .contacts__items .contacts__content .contacts__form .submit {
    font-size: 18px;
  }
}

@media (max-width: 430px) {
  .contacts__conteiner .contacts__items .contacts__content .contacts__form {
    max-width: 250px;
  }

  .contacts__conteiner .contacts__items .contacts__content .contacts__form .form-email {
    min-width: 250px;
  }

  .contacts__conteiner .contacts__items .contacts__content .contacts__form textarea {
    min-width: 250px;
  }
}