<div class="main-conteiner">
  <div class="form-conteiner">
    <p>Create your password, please</p>
    <form class="input-field">
      <input
        type="password"
        name="password"
        [(ngModel)]="formPassword"
        (ngModelChange)="checkForce()"
        required
      />
    </form>
  </div>
  <div class="strength-conteiner">
    <span>Your password strength</span>
    <ul class="strength-fields">
      <li class="strength-field" [style.background-color]="field1"></li>
      <li class="strength-field" [style.background-color]="field2"></li>
      <li class="strength-field" [style.background-color]="field3"></li>
    </ul>
  </div>
</div>
