@font-face {
  font-family: "Montserrat";
  src: url(../../src/fonts/Montserrat-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../src/fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url(../../src/fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../../src/fonts/OpenSans-Italic.woff2);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../../src/fonts/SourceSansPro-Regular.woff2);
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

* a {
  text-decoration: none;
}

.social {
  display: flex;
  gap: 20px;
}

.social .social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.social .social-item i {
  top: 5px;
  left: 5px;
}

.social .social-item:hover {
  background: #55B7FF;
  border: 1px solid #55B7FF;
}

.header {
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  position: relative;
}

.header .container {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 800px;
  position: relative;
}

.header .the_slider {
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.header .the_slider .s_slide {
  display: block;
  width: 100%;
  height: 100%;
  float: left;
}

.header .the_slider .s_slider_container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.header .the_slider .s_slider_container:active {
  cursor: -webkit-grabbing;
}

.header .the_slider .s_slide_0 {
  background-image: url("../../src/img/bg_home1.webp");
  background-size: cover;
}

.header .the_slider .s_slide_1 {
  background-image: url("../../src/img/bg_home2.webp");
  opacity: 0.5;
  background-size: cover;
}

.header .the_slider .s_slide_2 {
  background-image: url("../../src/img/bg_home3.webp");
  opacity: 0.5;
  background-size: cover;
}

.header .the_slider .s_slide_3 {
  background-image: url("../../src/img/bg_home4.webp");
  opacity: 0.5;
  background-size: cover;
}

.header .the_slider .s_slide_4 {
  background-image: url("../../src/img/bg_home5.webp");
  opacity: 0.5;
  background-size: cover;
}

.header .header__main-conteiner {
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.header .header__main-conteiner .header__conteiner {
  max-width: 1600px;
  width: 100%;
  color: #FFFFFF;
  position: absolute;
  top: 0;
}

.header .header__main-conteiner .header__conteiner .header__nav {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 15px 0 15px;
  align-items: flex-start;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu {
  max-width: 515px;
  width: 100%;
  margin: auto;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items {
  display: flex;
  justify-content: space-between;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item {
  display: flex;
  flex-direction: row-reverse;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item .header__menu-label {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-left: 14px;
  cursor: pointer;
  position: relative;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item .header__menu-label::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #55B7FF;
  bottom: -10px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item .header__menu-label:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item input[type=radio] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item input[type=radio]:after {
  width: 7px;
  height: 7px;
  border-radius: 15px;
  top: 0;
  position: relative;
  background-color: transparent;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item input[type=radio]:checked:after {
  width: 7px;
  height: 7px;
  border-radius: 15px;
  top: 0;
  position: relative;
  background-color: #FFFFFF;
  content: "";
  display: inline-block;
  visibility: visible;
}

.header .header__main-conteiner .header__conteiner .sticky_header {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 15px;
  background: rgba(126, 90, 255, 0.862745098);
  max-width: none;
  padding: 15px 0;
  z-index: 2;
}

.header .header__main-conteiner .header__conteiner .sticky_header .header__nav-items {
  padding-top: 45px;
  align-items: center;
}

.header .header__main-conteiner .header__conteiner .sticky_header .header__nav-items .header__logo {
  display: flex;
}

.header .header__main-conteiner .header__conteiner .header__heading {
  max-width: 925px;
  width: 100%;
  margin: auto;
  padding-top: 223px;
  font-family: "Montserrat";
  font-style: normal;
  text-align: center;
}

.header .header__main-conteiner .header__conteiner .header__heading h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
}

.header .header__main-conteiner .header__conteiner .header__heading p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
}

.header .header__main-conteiner .header__conteiner .heading_when_scroll {
  padding-top: 332px;
}

.header .header__main-conteiner .header__conteiner .header__dots {
  position: absolute;
  top: 295px;
  right: 52px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header .header__main-conteiner .header__conteiner .header__dots input[type=radio] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.header .header__main-conteiner .header__conteiner .header__dots input[type=radio]:after {
  width: 8px;
  height: 8px;
  border-radius: 15px;
  top: 0;
  position: relative;
  background-color: transparent;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

.header .header__main-conteiner .header__conteiner .header__dots input[type=radio]:checked:after {
  width: 8px;
  height: 8px;
  border-radius: 15px;
  top: 0;
  position: relative;
  background-color: #FFFFFF;
  content: "";
  display: inline-block;
  visibility: visible;
}

.header .header__main-conteiner .header__conteiner .header__scroll {
  margin-top: 263px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: none;
}

.header .header__main-conteiner .header__conteiner .header__scroll:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header .header__main-conteiner .header__conteiner .header__scroll .header__scroll-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  position: relative;
  z-index: 1;
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header__main-conteiner .header__conteiner .header__scroll .header__scroll-circle:after {
  content: "";
  font-size: 2.5em;
  line-height: 1.1em;
}

.header .header__main-conteiner .header__conteiner .header__scroll .header__scroll-circle:hover {
  transform: rotate(180deg);
  box-shadow: 0 0 1px 15px rgba(126, 90, 255, 0.4), 0 0 1px 30px rgba(126, 90, 255, 0.1), 0 0 1px 45px rgba(126, 90, 255, 0.1);
}

.about .about__conteiner {
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.about .about__conteiner .about__title {
  text-align: center;
}

.about .about__conteiner .about__title svg {
  margin: 100px 0 30px 0;
}

.about .about__conteiner .about__title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
}

.about .about__conteiner .about__items {
  padding: 90px 0 150px 0;
  display: flex;
  flex-direction: column;
  gap: 177px;
}

.about .about__conteiner .about__items .about__item {
  display: flex;
  justify-content: space-between;
}

.about .about__conteiner .about__items .about__item .item-img1 {
  position: relative;
}

.about .about__conteiner .about__items .about__item .item-img1 div {
  width: 585px;
  height: 470px;
  background: #55B7FF;
}

.about .about__conteiner .about__items .about__item .item-img1 img {
  width: 100%;
  position: absolute;
  top: 57px;
  left: 215px;
}

.about .about__conteiner .about__items .about__item .item-img2 {
  position: relative;
}

.about .about__conteiner .about__items .about__item .item-img2 div {
  width: 585px;
  height: 470px;
  background: #7E5AFF;
}

.about .about__conteiner .about__items .about__item .item-img2 img {
  position: absolute;
  top: 57px;
  right: 215px;
  width: 100%;
}

.about .about__conteiner .about__items .about__item .item-content {
  max-width: 476px;
  width: 100%;
  padding-top: 151px;
  margin-left: 140px;
  margin-right: 140px;
}

.about .about__conteiner .about__items .about__item .item-content .content-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}

.about .about__conteiner .about__items .about__item .item-content h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
}

.about .about__conteiner .about__items .about__item .item-content .content-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  padding-top: 19px;
}

.about .about__conteiner .about__items .about__item .item-content button {
  width: 190px;
  height: 50px;
  border: 1px solid #2C4058;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: none;
  margin-top: 40px;
  transition: 0.1s ease-in;
}

.about .about__conteiner .about__items .about__item .item-content button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #2C4058;
  transform: translateY(-0.25em);
}

.about .about__conteiner .about__items .about__item .item-content a {
  display: block;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-top: 60px;
}

.about .about__conteiner .about__items .about__item .item-content a i {
  padding-right: 10px;
}

.news .news__bg {
  background: url(../../src/img/bg_news.webp);
  background-size: cover;
}

.news .news__bg .news__conteiner {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  position: relative;
}

.news .news__bg .news__conteiner .news__title {
  text-align: center;
}

.news .news__bg .news__conteiner .news__title svg {
  margin: 120px 0 30px 0;
}

.news .news__bg .news__conteiner .news__title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
}

.news .news__bg .news__conteiner .news__wrapper-main {
  text-align: center;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items {
  padding: 90px 15px 170px 15px;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content {
  background: #FFFFFF;
  padding: 30px 20px;
  width: 370px;
  margin: auto;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .content-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
  padding: 15px 0 46px 0;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .news__author {
  display: flex;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .news__author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .news__author .author_name_date {
  padding-left: 20px;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .news__author .author_name_date .author_name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2C4058;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .news__author .author_name_date .author_date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
  padding-top: 6px;
}

.gallery .gallery__title {
  text-align: center;
}

.gallery .gallery__title svg {
  margin: 150px 0 30px 0;
}

.gallery .gallery__title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
}

.gallery .gallery__items {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img1 img2 img4" "img1 img1 img3 img5";
  gap: 10px;
  padding-top: 90px;
}

.gallery .gallery__items .gallery__item {
  width: 100%;
  cursor: url(../../src/img/Group.webp), pointer;
}

.gallery .gallery__items .gallery__item1 {
  grid-area: img1;
}

.gallery .gallery__items .gallery__item2 {
  grid-area: img2;
}

.gallery .gallery__items .gallery__item3 {
  grid-area: img3;
}

.gallery .gallery__items .gallery__item4 {
  grid-area: img4;
}

.gallery .gallery__items .gallery__item5 {
  grid-area: img5;
}

.gallery .gallery__button {
  display: flex;
  justify-content: center;
}

.gallery .gallery__button button {
  margin: 60px 0 150px 0;
  width: 190px;
  height: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background: none;
  transition: 0.1s ease-in;
}

.gallery .gallery__button button:hover,
.gallery .gallery__button button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #2C4058;
  transform: translateY(-0.25em);
}

.fancybox__image {
  width: 580px;
  height: 438px;
}

.contacts .contacts__conteiner {
  width: 100%;
  margin: auto;
  position: relative;
}

.contacts .contacts__conteiner .contacts__map {
  width: 100%;
  height: 700px;
}

.contacts .contacts__conteiner .contacts__tab {
  max-width: 770px;
  width: 100%;
  margin: auto;
  background: #FFF;
  padding: 0 60px;
  position: absolute;
  top: 621px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-title {
  text-align: center;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-title svg {
  margin: 60px 0 30px 0;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content {
  display: flex;
  padding: 42px 0 68px 0;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-text .contacts__tab-item .type-contacts {
  display: inline;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-text .contacts__tab-item p {
  display: inline;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-text .contacts__tab-item a,
.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-text .contacts__tab-item p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-text .contacts__tab-item i {
  color: #7E5AFF;
  padding-right: 5px;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form {
  padding-left: 50px;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form {
  display: flex;
  flex-direction: column;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form input {
  padding: 0 0 0 7px;
  width: 310px;
  border: none;
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4B5562;
  opacity: 0.5;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(44, 64, 88, 0.2);
  box-sizing: border-box;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form input:focus {
  border-bottom: 3px solid rgba(126, 90, 255, 0.5);
  transition: all 0.5s ease-in-out;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .input-style {
  opacity: 1;
  font-style: normal;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__tab-email {
  padding-top: 33px;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button {
  display: flex;
  justify-content: flex-end;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button button {
  width: 140px;
  height: 50px;
  background: none;
  border: 1px solid #2C4058;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button button p {
  display: inline;
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 100;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button button:before,
.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button button:after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button button:before {
  transform: translate3d(-100%, 0, 0);
  transition: transform 300ms ease-in-cubic;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button button:after {
  background-color: #7E5AFF;
  border: 1px solid #7E5AFF;
  transform: translate3d(100%, 0, 0);
  transition: transform 100ms 100ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button button:hover {
  color: #FFF;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button button:hover:before {
  transform: translate3d(0, 0, 0);
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button button:hover:after {
  transform: translate3d(0, 0, 0);
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .success .input-style {
  border-bottom: 1px solid rgb(6, 222, 147);
}

.gm-svpc,
.gmnoprint,
.gm-fullscreen-control {
  display: none;
}

.error {
  color: red;
  padding: 5px 0 0 7px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
}

.footer .footer__bg {
  background: url(../../src/img/bg_footer.webp);
  background-size: cover;
}

.footer .footer__bg .footer__conteiner {
  max-width: 770px;
  width: 100%;
  margin: auto;
  padding: 203px 0 234px 0;
}

.footer .footer__bg .footer__conteiner .footer__main {
  display: flex;
  justify-content: space-between;
}

.footer .footer__bg .footer__conteiner .footer__bottom {
  padding-top: 41px;
}

.footer .footer__bg .footer__conteiner .footer__bottom p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 120px;
  left: 34px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 40px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #FFFFFF;
  background-color: var(--swiper-pagination-bullet-inactive-background-color, #fff);
}

.swiper-next,
.swiper-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  position: absolute;
  cursor: pointer;
}

.swiper-next:active,
.swiper-prev:active {
  border: 10px solid rgba(255, 255, 255, 0.4);
}

.swiper-next {
  right: 15px;
  top: 53%;
}

.swiper-prev {
  left: 30px;
  top: 53%;
}

.sl-slider-wrapper {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.sl-slider {
  position: absolute;
  top: 0;
  left: 0;
}

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sl-slide {
  z-index: 1;
}

.sl-content-slice {
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1;
}

.sl-slide-horizontal .sl-content-slice {
  width: 100%;
  height: 50%;
  left: -200px;
  transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
  top: -200px;
  padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-of-type(2) {
  top: 50%;
  padding: 0px 200px 200px 200px;
}

.sl-slide-vertical .sl-content-slice {
  width: 50%;
  height: 100%;
  top: -200px;
  transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
  left: -200px;
  padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-of-type(2) {
  left: 50%;
  padding: 200px 200px 200px 0px;
}

.sl-content-wrapper {
  position: absolute;
}

.sl-content {
  width: 100%;
  height: 100%;
  background: #fff;
}

.sl-slide-horizontal .sl-slide-inner {
  background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
  background: #ccc;
}

.dot_nav {
  gap: 40px;
  display: flex;
  flex-direction: column;
  height: 210px;
  position: absolute;
  top: 25%;
  right: 52px;
  transform: translate(50%, 50%);
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  border: 1px solid #FFFFFF;
  background: none;
}

.dot.active {
  background: #FFFFFF;
  border: none;
}

@media (max-width: 1444px) {
  .about .about__conteiner .about__items {
    gap: 70px;
    padding: 50px 0 70px 0;
  }

  .about .about__conteiner .about__items .about__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "news-grid1" "news-grid2" "news-grid4" "news-grid3";
    gap: 0;
    justify-items: center;
  }

  .about .about__conteiner .about__items .about__item .news-grid1 {
    grid-area: news-grid1;
  }

  .about .about__conteiner .about__items .about__item .news-grid2 {
    grid-area: news-grid2;
  }

  .about .about__conteiner .about__items .about__item .news-grid3 {
    grid-area: news-grid3;
  }

  .about .about__conteiner .about__items .about__item .news-grid4 {
    grid-area: news-grid4;
  }

  .about .about__conteiner .about__items .about__item .item-img1 div,
  .about .about__conteiner .about__items .about__item .item-img2 div {
    display: none;
  }

  .about .about__conteiner .about__items .about__item .item-img1 img,
  .about .about__conteiner .about__items .about__item .item-img2 img {
    position: static;
    width: 100%;
  }

  .about .about__conteiner .about__items .about__item .item-content {
    padding-top: 50px;
    max-width: 800px;
    text-align: center;
  }
}

@media (max-width: 1350px) {
  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper {
    max-width: 800px;
    width: 100%;
    margin: auto;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 30px;
  }
}

@media (max-width: 1050px) {
  .header__menu-items {
    padding: 0 40px;
  }

  .header .header__main-conteiner .header__conteiner .header__heading h1 {
    font-size: 70px;
    padding: 0 50px;
  }

  .header .header__main-conteiner .header__conteiner .header__heading p {
    font-size: 15px;
  }

  .header .header__main-conteiner .header__conteiner .header__scroll {
    margin-top: 160px;
  }
}

@media (max-width: 970px) {
  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper {
    max-width: 400px;
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 886px) {
  .header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items {
    display: none;
  }

  .header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .buger-menu {
    position: absolute;
    top: 76px;
  }

  .header__nav-items .social {
    display: none;
  }

  .header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .menu-active .header__menu-items {
    display: flex;
    flex-direction: column;
    height: 170px;
    padding-right: 68px;
    align-items: flex-end;
    padding-top: 20px;
  }

  .buger-menu {
    position: absolute;
    bottom: 26px;
    right: 25px;
  }

  .header .header__main-conteiner .header__conteiner .sticky_header .header__nav-items .menu-active {
    padding-top: 116px;
  }

  .header .header__main-conteiner .header__conteiner .sticky_header .header__nav-items .menu-active .header__menu-items {
    padding-top: 23px;
  }

  .buger-menu-btn {
    width: 40px;
    cursor: pointer;
  }

  span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 2px;
    background: #fff;
    transition: all 0.3s;
    position: relative;
  }

  span + span {
    margin-top: 8px;
  }

  .active span:nth-child(1) {
    animation: ease 0.7s top forwards;
  }

  .not-active span:nth-child(1) {
    animation: ease 0.7s top-2 forwards;
  }

  .active span:nth-child(2) {
    animation: ease 0.7s scaled forwards;
  }

  .not-active span:nth-child(2) {
    animation: ease 0.7s scaled-2 forwards;
  }

  .active span:nth-child(3) {
    animation: ease 0.7s bottom forwards;
  }

  .not-active span:nth-child(3) {
    animation: ease 0.7s bottom-2 forwards;
  }

@keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }

    50% {
      top: 11px;
      transform: rotate(0);
    }

    100% {
      top: 9px;
      transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
      top: 11px;
      transform: rotate(45deg);
    }

    50% {
      top: 11px;
      transform: rotate(0deg);
    }

    100% {
      top: 0;
      transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }

    50% {
      bottom: 11px;
      transform: rotate(0);
    }

    100% {
      bottom: 11px;
      transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
      bottom: 11px;
      transform: rotate(135deg);
    }

    50% {
      bottom: 11px;
      transform: rotate(0);
    }

    100% {
      bottom: 0;
      transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
}
}

@media (max-width: 768px) {
  .about .about__conteiner {
    padding: 0 15px;
  }

  .news .news__bg .news__conteiner .news__title svg {
    margin: 70px 0 50px 0;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items {
    padding-top: 50px;
  }

  .swiper-prev,
  .swiper-next {
    top: 45%;
  }

  .gallery .gallery__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "img1 img1" "img2 img3" "img4 img5";
    padding: 0 15px;
  }

  .gallery .gallery__button button {
    margin: 50px 0 70px 0;
  }

  .gallery .gallery__title svg {
    margin: 70px 0 50px 0;
  }

  .gallery .gallery__title h2 {
    padding-bottom: 50px;
  }

  .contacts .contacts__conteiner .contacts__tab .contacts__tab-content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form {
    padding-left: 15px;
  }

  .footer {
    padding-top: 90px;
  }

  .footer .footer__bg .footer__conteiner {
    padding: 203px 15px 100px 15px;
  }

  .dot_nav {
    display: none;
  }

  .swiper-slide {
    right: 8px;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items {
    max-width: 300px;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news__img img {
    width: 300px;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content {
    width: 300px;
    text-align: start;
  }
}

@media (max-width: 573px) {
  .about .about__conteiner .about__items .about__item .item-content {
    margin: 0 15px 0 15px;
  }
}

@media (max-width: 510px) {
  .header .header__main-conteiner .header__conteiner .header__heading {
    padding-top: 100px;
  }

  .header .header__main-conteiner .header__conteiner .header__heading h1 {
    font-size: 50px;
  }

  .header .header__main-conteiner .header__conteiner .heading_when_scroll {
    padding-top: 200px;
  }
}

@media (max-width: 455px) {
  .header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .menu-active .header__menu-items {
    display: flex;
    flex-direction: column;
    height: 170px;
    padding-right: 15px;
    align-items: flex-end;
    padding-top: 55px;
  }

  .header__menu-items {
    padding: 0;
  }

  .header .header__main-conteiner .header__conteiner .sticky_header .header__nav-items .menu-active .header__menu-items {
    padding-top: 23px;
  }

  .header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .buger-menu {
    top: 63px;
  }

  .header .header__main-conteiner .header__conteiner .header__heading {
    padding-top: 180px;
  }

  .header .header__main-conteiner .header__conteiner .header__heading h1 {
    font-size: 46px;
    line-height: 98px;
  }

  .header .header__main-conteiner .header__conteiner .header__heading p {
    padding: 0 15px;
  }

  .header .header__main-conteiner .header__conteiner .heading_when_scroll {
    padding-top: 272px;
  }

  .header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__logo a img {
    width: 170px;
  }

  .header .header__main-conteiner .header__conteiner .buger-menu {
    top: 68px;
  }

  .about .about__conteiner .about__title h2 {
    font-size: 40px;
    padding-bottom: 30px;
  }

  .about .about__conteiner .about__items .about__item .news-grid2 {
    padding: 20px;
    background: url(../../src/img/about_img1_25.webp);
    background-repeat: no-repeat;
    height: 422px;
  }

  .about .about__conteiner .about__items .about__item .news-grid3 {
    padding: 20px 0;
    background: url(../../src/img/about_img2_25.webp);
    background-repeat: no-repeat;
    height: 484px;
  }

  .about .about__conteiner .about__items .about__item .item-content h3 {
    font-size: 36px;
  }

  .about .about__conteiner .about__items {
    gap: 30px;
  }

  .about .about__conteiner .about__items .about__item {
    display: flex;
    flex-direction: column;
  }

  .about .about__conteiner .about__items .about__item .item-content {
    margin: 0 15px 0 0;
  }

  .about .about__conteiner .about__items .about__item .item-content a {
    padding-top: 56px;
  }

  .about .about__conteiner .about__items .about__item1 .news-grid1,
  .about .about__conteiner .about__items .about__item2 .news-grid4 {
    display: none;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper {
    max-width: 250px;
    width: 100%;
    margin: auto;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news__img img {
    width: 220px;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content {
    width: 220px;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content {
    padding: 15px;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content h3 {
    font-size: 15px;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .content-text {
    font-size: 14px;
    padding: 15px 0 25px 0;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .news__author .author_name_date .author_name {
    font-size: 14px;
  }

  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .author_date {
    font-size: 12px;
  }

  .news .news__bg .news__conteiner .news__title h2 {
    font-size: 40px;
  }

  .swiper-next,
  .swiper-prev {
    border: none;
  }

  .swiper-next svg,
  .swiper-prev svg {
    width: 7px;
  }

  .gallery .gallery__title h2 {
    font-size: 40px;
  }

  .gallery .gallery__items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5";
    padding: 0 15px;
  }

  .contacts .contacts__conteiner .contacts__tab {
    padding: 0 45px 0 35px;
  }

  .contacts .contacts__conteiner .contacts__tab .contacts__tab-title h2 {
    font-size: 34px;
  }

  .contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button {
    display: flex;
    justify-content: center;
  }

  .footer .footer__bg .footer__conteiner .footer__main {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  .footer .footer__bg .footer__conteiner .footer__main .social {
    padding: 20px 0 0 20px;
  }

  .footer .footer__bg .footer__conteiner .footer__bottom {
    text-align: center;
    padding-left: 20px;
  }
}