.resources__contacts {
  color: #262A3F;
  font-style: normal;

  h2 {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 40px;
    line-height: 39px;
    padding-bottom: 29px;

    span {
      color: #85BBB1;
      font-style: italic;
    }
  }

  p {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.8;
  }
}

.resources__form {
  padding-left: 120px;
  display: flex;
  flex-direction: column;

  form {

    input {
      width: 100%;
      border: none;
      display: block;
      font-family: 'Playfair Display';
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.08em;
      color: #262A3F;
      padding-bottom: 12px;
      border-bottom: 1px solid rgb(38, 42, 63, 0.1);

      &:focus {
        border-bottom: 2px solid rgba(241, 137, 123, 0.3);
        transition: all 0.2s ease-in-out;
      }
    }

    .input-style {
      opacity: 1;
      font-style: normal;
    }

    .input-style::placeholder {
      opacity: 0.5;
      font-style: italic;
    }

    .form-view {
      padding-top: 40px;
    }

    .resources__submit {
      width: 183px;
      height: 24px;
      margin-top: 40px;
      position: relative;
    }
  }
}

@media (max-width: 768px) {
  .resources__items {
    grid-template-columns: 1fr;
    align-items: center;

    .resources__contacts {
      text-align: center;
      padding-bottom: 30px;
    }

    .resources__form {
      padding: 0 40px 0 0;
      margin: auto;
    }
  }
}