@font-face {
  font-family: "Lato";
  src: url(../../src/fonts/Lato-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url(../../src/fonts/Lato-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url(../../src/fonts/Lato-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Playfair Display";
  src: url(../../src/fonts/PlayfairDisplay-Regular.woff2);
  font-weight: 400;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

* a {
  text-decoration: none;
}

.header__bg {
  width: 100%;
  height: 80px;
  position: absolute;
  margin-top: 30px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.header__conteiner {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

.header__conteiner .header__items {
  max-width: 1170px;
  width: 100%;
  padding: 54px 15px 0 15px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr;
  align-items: center;
}

.home__bg {
  background: url(../../src/img/first-screen-image.webp);
  background-size: cover;
  display: block;
  height: 100%;
}

.home__bg::after {
  height: 825px;
  width: 100%;
  position: absolute;
  content: "";
  top: 496px;
  background: linear-gradient(183.11deg, rgba(255, 255, 255, 0) 46.73%, #ffffff 63.21%);
}

.home__bg .home__conteiner {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.section-info__conteiner {
  height: 670px;
}

.section-info__conteiner,
.about__conteiner,
.quote__conteiner,
.use-cases__conteiner,
.pricing__conteiner,
.resources__conteiner,
.footer__conteiner {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.section-info__items {
  position: relative;
  z-index: 2;
  display: flex;
  max-width: 1170px;
  width: 100%;
  margin-top: -285px;
}

.about__items {
  padding-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.use-cases__items {
  position: relative;
  z-index: 2;
  padding-top: 120px;
  display: flex;
  max-width: 1170px;
  width: 100%;
}

.resources__items {
  width: 100%;
  margin-top: 81px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
  border-bottom: 1px solid #E4E4E4;
}

.pricing__items {
  padding-top: 120px;
}

.footer__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 31px 0;
}

.quote__conteiner {
  background: url(../../src/img/quote-background.webp);
  background-size: cover;
}

.products__conteiner {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 120px 15px 0 15px;
}

.products__conteiner .products__items {
  border: 1px solid #E4E4E4;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.resources__conteiner {
  z-index: 2;
  display: flex;
}

.header__burger-menu {
  display: none;
  align-items: center;
  padding: 0 15px;
}

.header__burger-menu .burger-menu__conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 20px;
}

.header__burger-menu span {
  margin: auto;
  width: 34px;
  height: 2px;
  background-color: black;
}

.header__burger-menu span:before {
  content: "";
  position: absolute;
  width: 34px;
  height: 2px;
  background-color: black;
  transform: translateY(-8px);
  transition: 0.4s;
}

.header__burger-menu span:after {
  content: "";
  position: absolute;
  width: 34px;
  height: 2px;
  background-color: black;
  transform: translateY(8px);
  transition: 0.4s;
}

.header__burger-menu_active span {
  height: 0;
}

.header__burger-menu_active span:before {
  transform: rotate(45deg);
  width: 25px;
}

.header__burger-menu_active span::after {
  transform: rotate(-45deg);
  width: 25px;
  margin-left: 0;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo .logo-name {
  padding-left: 15px;
}

.header__menu {
  min-width: 490px;
  width: 100%;
}

.header__menu .header__menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.header__menu .header__menu-items .header__menu-item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
}

.header__menu .header__menu-items .header__menu-item a {
  background-image: linear-gradient(to right, #F1897B, #F1897B 50%, #262A3F 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.header__menu .header__menu-items .header__menu-item a:before {
  content: "";
  background: #F1897B;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.header__menu .header__menu-items .header__menu-item a:hover {
  background-position: 0;
}

.header__menu .header__menu-items .header__menu-item a:hover::before {
  width: 100%;
}

.sticky {
  position: fixed;
  top: -30px;
  width: 100%;
  height: 100px;
  z-index: 10;
  background: #e0e0e1;
}

.home__content {
  max-width: 658px;
  width: 100%;
  padding: 260px 0 466px 135px;
  color: #262A3F;
}

.home__content h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
}

.home__content h1 span {
  color: #85BBB1;
  font-style: italic;
}

.home__content p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  padding-top: 20px;
}

.home__section-info-right img {
  width: 100%;
}

.home__section-info-left {
  max-height: 580px;
  height: 100%;
  max-width: 770px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "grid1 grid4" "grid2 grid5" "grid3 grid6";
  position: absolute;
  background: #FFFFFF;
  opacity: 0.9;
  margin-top: 45px;
  padding-top: 45px;
  right: 0;
}

.home__section-info-left .home__item h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 72px;
  text-align: center;
  color: #262A3F;
  padding-bottom: 12px;
}

.home__section-info-left .home__item h4::before {
  content: "$";
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #E4E4E4;
  padding-right: 10px;
}

.home__section-info-left .home__item p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #262A3F;
}

.home__section-info-left .home__item .home__deco-line {
  max-width: 100px;
  width: 100%;
  height: 1px;
  background: #85BBB1;
  margin: 40px 0 0 135px;
}

.home__section-info-left .info1 {
  grid-area: grid1;
}

.home__section-info-left .info2 {
  grid-area: grid2;
}

.home__section-info-left .info3 {
  grid-area: grid3;
}

.home__section-info-left .info4 {
  grid-area: grid4;
}

.home__section-info-left .info4 p {
  text-align: start;
}

.home__section-info-left .info5 {
  grid-area: grid5;
}

.home__section-info-left .info5 p {
  padding-top: 25px;
  text-align: start;
}

.button-general {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  z-index: 1;
}

.button-general .home__button-box {
  display: block;
  color: #F1897B;
}

.button-general .home__button-box .general__button-shadow {
  position: absolute;
  background: #F1897B;
  opacity: 0.3;
  height: 13px;
}

.button-general .home__button-box .button-shadow1 {
  width: 112px;
  left: 7px;
  bottom: 4px;
}

.button-general .home__button-box .button-shadow2 {
  width: 172px;
  right: 204px;
  bottom: 0;
  left: 10px;
}

.button-general .home__button-box .button-shadow3 {
  width: 112px;
  position: absolute;
  left: 10px;
  top: 11px;
}

.button-general .home__button-box:hover {
  transition: 0.2s ease-out;
  color: #E54F3A;
}

.button-general .home__button-box:hover .general__button-shadow {
  transition: 0.2s ease-out;
  background: #E54F3A;
}

.home__button {
  padding-top: 50px;
}

.home__button .home__button-box {
  width: 127px;
  height: 25px;
}

.home__section-info__button {
  display: inline-block;
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 90px;
}

.box-button-type2 {
  width: 182px;
  height: 24px;
}

.box-button-type3 {
  max-width: 300px;
  width: 100%;
  height: 90px;
  border: 1px solid #E4E4E4;
  text-align: center;
  padding-top: 33px;
}

.box-button-type3 span {
  position: relative;
}

.submit {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
}

.submit .submit-text {
  color: #F1897B;
}

.submit .resources__submit-shadow {
  width: 95%;
  height: 13px;
  background-color: rgba(241, 137, 123, 0.3);
  position: absolute;
  left: 10px;
  top: 11px;
}

.submit:hover .submit-text {
  color: #E64F3A;
  transition: all 0.1s ease-in-out;
}

.submit:hover .resources__submit-shadow {
  background-color: rgba(229, 79, 58, 0.3);
  transition: all 0.1s ease-in-out;
}

.light-dark-mode {
  display: flex;
  align-items: flex-end;
  width: 60px;
  height: 34px;
}

.light-dark-mode .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.light-dark-mode .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.light-dark-mode .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.light-dark-mode .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.light-dark-mode input:checked + .slider {
  background-color: #262A3F;
}

.light-dark-mode input:focus + .slider {
  box-shadow: 0 0 1px #262A3F;
}

.light-dark-mode input:checked + .slider:before {
  transform: translateX(26px);
}

.light-dark-mode .slider.round {
  border-radius: 34px;
}

.light-dark-mode .slider.round:before {
  border-radius: 50%;
}

.about__item {
  color: #262A3F;
  font-style: normal;
  padding: 0 35px;
}

.about__item h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  padding: 50px 0 30px 0;
}

.about__item h2 span {
  color: #85BBB1;
  font-style: italic;
}

.about__item p {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 93px;
}

.item-deco {
  border-bottom: 1px solid #E4E4E4;
  border-top: 1px solid #E4E4E4;
}

.quote__content {
  position: relative;
  padding: 100px 300px 100px 160px;
  font-weight: 400;
  color: #FFFFFF;
}

.quote__content .quote__decor1 {
  position: absolute;
  left: 101px;
  top: 112px;
}

.quote__content .quote__decor2 {
  display: none;
}

.quote__content .quote__article {
  font-family: "Lato";
  font-style: normal;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.04em;
}

.quote__content p {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  padding-top: 40px;
}

.player-decor-button1 {
  width: 13px;
  height: 13px;
  margin: 0 8px;
  stroke: #E4E4E4;
}

.products__video {
  margin: 31px 0;
}

.products__video .video-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.products__video .video-play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(88, 98, 145, 0.3);
  z-index: 1;
  cursor: pointer;
  transition: 0.2s ease;
}

.products__video .video-play::before {
  content: "\e904";
  color: #262A3F;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50px;
  width: 0;
  height: 0;
  border: 29px solid transparent;
  border-top-width: 21px;
  border-bottom-width: 21px;
  border-left-color: #262A3F;
  border-right-width: 0;
  transition: transform 0.2s ease;
}

.products__video .video-play::before:hover::before {
  transform: scale(1.2);
}

.video-is-playing .video-over {
  display: block;
}

.video-is-playing .video-play {
  opacity: 0;
  visibility: hidden;
}

.player-decor-button2 {
  width: 35px;
  height: 35px;
  margin: 0 14px 0 21px;
  stroke: #E4E4E4;
}

.products__content {
  padding-top: 50px;
  color: #262A3F;
  font-style: normal;
}

.products__content h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 20px;
}

.products__content h2 span {
  color: #85BBB1;
  font-style: italic;
}

.products__content p {
  max-width: 897px;
  width: 100%;
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

.use-cases__info-right img {
  width: 100%;
}

.use-cases__info-left {
  max-width: 770px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "case1 case2" "case3 case4";
  -moz-column-gap: 78px;
       column-gap: 78px;
  row-gap: 70px;
  position: absolute;
  right: 0;
  background: #FFFFFF;
  opacity: 0.9;
  margin-top: 45px;
  padding: 75px 70px;
}

.use-cases__info-left .use-cases__item h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #262A3F;
}

.use-cases__info-left .use-cases__item ul li,
.use-cases__info-left .use-cases__item p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #262A3F;
  padding-top: 15px;
}

.use-cases__info-left .case1 {
  grid-area: case1;
}

.use-cases__info-left .case2 {
  grid-area: case2;
}

.use-cases__info-left .case3 {
  grid-area: case3;
}

.use-cases__info-left .case4 {
  grid-area: case4;
}

.pricing__title {
  max-width: 400px;
  width: 100%;
  color: #262A3F;
  font-style: normal;
}

.pricing__title h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 20px;
}

.pricing__title h2 span {
  color: #85BBB1;
  font-style: italic;
}

.pricing__title p {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

.pricing__cards {
  padding: 50px 0 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  border-bottom: 1px solid #E4E4E4;
}

.pricing__cards .pricing__card {
  height: 340px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.pricing__cards .pricing__card:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 2px 15px 5px rgba(0, 0, 0, 0.5);
}

.pricing__cards .pricing__card img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.pricing__cards .pricing__card::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url(../../src/img/overlay.webp);
}

.pricing__cards .pricing__card p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  z-index: 2;
  opacity: 0.8;
}

.pricing__cards .pricing__card span {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  z-index: 2;
}

.resources__contacts {
  color: #262A3F;
  font-style: normal;
}

.resources__contacts h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  line-height: 39px;
  padding-bottom: 29px;
}

.resources__contacts h2 span {
  color: #85BBB1;
  font-style: italic;
}

.resources__contacts p {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
}

.resources__form {
  padding-left: 120px;
  display: flex;
  flex-direction: column;
}

.resources__form form input {
  width: 100%;
  border: none;
  display: block;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262A3F;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(38, 42, 63, 0.1);
}

.resources__form form input:focus {
  border-bottom: 2px solid rgba(241, 137, 123, 0.3);
  transition: all 0.2s ease-in-out;
}

.resources__form form .input-style {
  opacity: 1;
  font-style: normal;
}

.resources__form form .input-style::-moz-placeholder {
  opacity: 0.5;
  font-style: italic;
}

.resources__form form .input-style::placeholder {
  opacity: 0.5;
  font-style: italic;
}

.resources__form form .form-view {
  padding-top: 40px;
}

.resources__form form .resources__submit {
  width: 183px;
  height: 24px;
  margin-top: 40px;
  position: relative;
}

.footer__item1 p,
.item2-made,
.item2-dev,
.item3-list li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #262A3F;
  opacity: 0.6;
}

.footer__item2 {
  display: flex;
  justify-content: center;
}

.footer__item2 .item2-dev {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08em;
  opacity: 1;
  padding-left: 12px;
}

.footer__item3 {
  display: flex;
  justify-content: flex-end;
}

.footer__item3 .item3-list {
  display: flex;
}

.footer__item3 .item3-list li {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08em;
  padding-left: 32px;
  opacity: 1;
}

.footer__item3 .item3-list li a {
  color: #262A3F;
}

.footer__item3 .item3-list li a:hover {
  color: #E54F3A;
}

.dark-mode {
  background: #161926;
}

.dark-mode .sticky {
  background: rgb(22, 25, 38);
}

.dark-mode .button-general .home__button-box {
  color: #81b4a7;
}

.dark-mode .button-general .home__button-box .general__button-shadow {
  background: #81b4a7;
}

.dark-mode .button-general .home__button-box:hover {
  color: #02E0AB;
}

.dark-mode .button-general .home__button-box:hover .general__button-shadow {
  background: #02E0AB;
}

.dark-mode .header__bg {
  background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}

.dark-mode .home__bg {
  background: url(../../src/img/first-screen-image_dark.webp);
  background-size: cover;
  display: block;
  height: 100%;
}

.dark-mode .home__bg::after {
  background: none;
}

.dark-mode .home__section-info-left {
  background: #161926;
}

.dark-mode .home__section-info-left .home__item h4 {
  color: #fff;
}

.dark-mode .home__section-info-left .home__item p {
  color: #fff;
}

.dark-mode .header__menu .header__menu-items .header__menu-item a {
  background-image: linear-gradient(to right, #53F3CD, #53F3CD 50%, #fff 50%);
}

.dark-mode .header__menu .header__menu-items .header__menu-item a::before {
  background: #53F3CD;
}

.dark-mode .header__burger-menu .burger-menu__conteiner span {
  background-color: #fff;
}

.dark-mode .header__burger-menu .burger-menu__conteiner span::before {
  background-color: #fff;
}

.dark-mode .header__burger-menu .burger-menu__conteiner span::after {
  background-color: #fff;
}

.dark-mode .home__content {
  color: #fff;
}

.dark-mode .home__content h1 span {
  color: #689FF2;
}

.dark-mode .about__item h2 {
  color: #fff;
}

.dark-mode .about__item h2 span {
  color: #689FF2;
}

.dark-mode .about__item p {
  color: #fff;
}

.dark-mode .quote__decor1 {
  display: none;
}

.dark-mode .quote__decor2 {
  display: block;
  position: absolute;
}

.dark-mode .products__conteiner .products__items {
  border: 1px solid #515773;
}

.dark-mode .products__conteiner .products__items .player-decor-button1,
.dark-mode .products__conteiner .products__items .player-decor-button2 {
  stroke: #515773;
}

.dark-mode .products__conteiner .products__items .products__video .video-play {
  background: #689FF2;
  opacity: 0.3;
}

.dark-mode .products__conteiner .products__items .products__video .video-play::before {
  content: "\e904";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50px;
  width: 0;
  height: 0;
  border: 29px solid transparent;
  border-top-width: 21px;
  border-bottom-width: 21px;
  border-left-color: #000c1f;
  border-right-width: 0;
  transition: transform 0.2s ease;
}

.dark-mode .products__content {
  color: #fff;
}

.dark-mode .products__content h2 span {
  color: #689FF2;
}

.dark-mode .use-cases__info-left {
  background: #161926;
}

.dark-mode .use-cases__info-left .use-cases__item h4,
.dark-mode .use-cases__info-left .use-cases__item ul li,
.dark-mode .use-cases__info-left .use-cases__item p {
  color: #fff;
}

.dark-mode .use-cases__info-left .box-button-type3 {
  border: 1px solid #515773;
}

.dark-mode .pricing__title {
  color: #fff;
}

.dark-mode .pricing__title h2 span {
  color: #689FF2;
}

.dark-mode .resources__contacts {
  color: #fff;
}

.dark-mode .resources__contacts h2 span {
  color: #689FF2;
}

.dark-mode .resources__form form .input-style {
  background: #161926;
}

.dark-mode .resources__form form input {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode .resources__form form input:focus {
  border-bottom: 2px solid rgba(83, 243, 206, 0.6745098039);
  transition: all 0.2s ease-in-out;
}

.dark-mode .input-style::-moz-placeholder {
  opacity: 0.5;
  font-style: italic;
  color: #FFFFFF;
  opacity: 0.5;
}

.dark-mode .input-style::placeholder {
  opacity: 0.5;
  font-style: italic;
  color: #FFFFFF;
  opacity: 0.5;
}

.dark-mode .submit .submit-text {
  color: #81b4a7;
}

.dark-mode .submit .resources__submit-shadow {
  background-color: #81b4a7;
  opacity: 0.3;
}

.dark-mode .submit:hover .submit-text {
  color: #02E0AB;
  transition: all 0.1s ease-in-out;
}

.dark-mode .submit:hover .resources__submit-shadow {
  background-color: #02E0AB;
  transition: all 0.1s ease-in-out;
}

.dark-mode .footer__item1 p,
.dark-mode .item2-made,
.dark-mode .item2-dev,
.dark-mode .item3-list li,
.dark-mode .footer__item3 .item3-list li a {
  color: #fff;
}

.dark-mode .footer__item1 p:hover,
.dark-mode .item2-made:hover,
.dark-mode .item2-dev:hover,
.dark-mode .item3-list li:hover,
.dark-mode .footer__item3 .item3-list li a:hover {
  color: #85BBB1;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header__conteiner .header__items .header__burger-menu {
    display: block;
    position: absolute;
    top: 62px;
    right: 0;
  }

  .header__conteiner .header__items {
    grid-template-columns: 1fr 0.1fr 0.1fr;
  }

  .header__conteiner .header__items .header__menu {
    display: none;
  }

  .header__conteiner .header__items .light-dark-mode {
    display: none;
  }

  .header__conteiner .header__items_active {
    padding: 0;
    position: relative;
    display: block;
  }

  .header__conteiner .header__items_active .header__logo {
    display: none;
  }

  .header__conteiner .header__items_active .header__menu {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 100%;
  }

  .header__conteiner .header__items_active .header__menu .header__menu-items {
    flex-direction: column;
    padding-top: 48px;
    background: #fff;
    padding-left: 15px;
  }

  .header__conteiner .header__items_active .header__menu .header__menu-items .header__menu-item {
    padding-bottom: 20px;
    font-size: 16px;
  }

  .header__conteiner .header__items_active .light-dark-mode {
    display: none;
  }

  .home__bg::after {
    display: none;
  }

  .home__content {
    padding: 160px 15px 345px 50px;
  }

  .home__content h1 {
    font-size: 30px;
  }

  .section-info__conteiner {
    height: 100%;
  }

  .section-info__conteiner .section-info__items {
    display: flex;
    flex-direction: column;
  }

  .section-info__conteiner .section-info__items .home__section-info-right {
    max-width: 570px;
    margin: auto;
    width: 100%;
    display: block;
  }

  .section-info__conteiner .section-info__items .home__section-info-left {
    max-height: none;
    position: static;
    margin-top: 0;
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "grid1" "grid2" "grid3" "grid4" "grid5" "grid6";
  }

  .section-info__conteiner .section-info__items .home__section-info-left .home__item .home__deco-line {
    margin: auto;
    margin-top: 40px;
  }

  .section-info__conteiner .section-info__items .home__section-info-left .home__item h4 {
    font-size: 56px;
  }

  .section-info__conteiner .section-info__items .home__section-info-left .info4 p {
    padding-top: 20px;
  }

  .section-info__conteiner .section-info__items .home__section-info-left div {
    margin: auto;
  }

  .about__conteiner {
    padding: 0 0 50px 0;
  }

  .about__conteiner .about__items {
    padding-top: 0;
    grid-template-columns: 1fr;
  }

  .about__conteiner .about__items .about__item {
    height: 270px;
    padding: 0 15px;
    max-width: 350px;
    margin: auto;
  }

  .about__conteiner .about__items .about__item:last-child {
    border-top: 1px solid #E4E4E4;
  }

  .about__conteiner .about__items .about__item h2 {
    padding: 20px 0 10px 0;
    font-size: 28px;
  }

  .about__conteiner .about__items .about__item p {
    padding-bottom: 50px;
  }

  .quote__content {
    padding: 30px;
  }

  .quote__content svg {
    left: -25px;
    top: -13px;
    transform: scale(0.4);
  }

  .quote__content .quote__article {
    font-size: 16px;
    line-height: 25px;
    padding: 0;
  }

  .quote__content p {
    font-size: 14px;
    padding: 15px 0;
  }

  .products__conteiner {
    padding-top: 50px;
  }

  .products__conteiner .products__video .video-play {
    width: 60px;
    height: 60px;
  }

  .products__conteiner .products__video .video-play::before {
    left: 25px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 19px;
  }

  .products__conteiner .products__content {
    text-align: center;
  }

  .use-cases__conteiner {
    min-height: 660px;
    height: 100%;
    background: url(../../src/img/features-background-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0;
  }

  .use-cases__conteiner .use-cases__items {
    padding-top: 50px;
  }

  .use-cases__conteiner .use-cases__items .use-cases__info-right img {
    visibility: hidden;
  }

  .use-cases__conteiner .use-cases__info-left {
    background: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "case1" "case2" "case3" "case4";
    padding: 20px;
    text-align: center;
    row-gap: 20px;
    margin-top: 0;
  }

  .use-cases__conteiner .use-cases__info-left .use-cases__item h4,
  .use-cases__conteiner .use-cases__info-left .use-cases__item ul li,
  .use-cases__conteiner .use-cases__info-left .use-cases__item p {
    color: #fff;
  }

  .pricing__items {
    width: 370px;
    margin: auto;
    padding-top: 0;
  }

  .pricing__items .pricing__title {
    max-width: 1170px;
    width: 100%;
    text-align: center;
  }

  .pricing__items .pricing__cards {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }

  .resources__items {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .resources__items .resources__contacts {
    text-align: center;
    padding-bottom: 30px;
  }

  .resources__items .resources__form {
    padding: 0 40px 0 0;
    margin: auto;
  }

  .footer__items {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "foo2 foo3" "foo1 foo1";
    padding: 20px 0;
  }

  .footer__item1 {
    grid-area: foo1;
    text-align: center;
    padding-top: 20px;
  }

  .footer__item1 p {
    font-size: 12px;
  }

  .footer__item2 {
    grid-area: foo2;
    justify-content: flex-start;
    flex-direction: column;
  }

  .footer__item2 .item2-dev {
    padding-left: 0;
    font-size: 12px;
  }

  .footer__item3 {
    grid-area: foo3;
  }

  .footer__item3 .item3-list {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 370px) {
  .pricing__items {
    width: 300px;
  }

  .pricing__items .pricing__cards {
    padding: 10px 20px;
  }

  .pricing__items .pricing__cards .pricing__card p {
    font-size: 14px;
    line-height: 18px;
  }
}