@font-face {
  font-family: "Arial Black";
  src: url(../../../../public/src/fonts/arial-black.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Tanseek Modern";
  src: url(../../../../public/src/fonts/tanseek-modern-pro-arabic-bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Tanseek Modern";
  src: url(../../../../public/src/fonts/tanseek_modern_reg.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Poppins Light";
  src: url(../../../../public/src/fonts/Poppins-Light.woff2);
  font-weight: 300;
}