body {
  margin: 0;
  padding: 0;
}
.conteiner {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
/* HEADER */

header {
  height: 56px;
  margin-top: 15px;
  display: flex;
}
.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_logo a {
  max-width: 230px;
  width: 100%;
  height: 56px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  letter-spacing: 1px;
  color: #40A3F8;
}
.main-menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.header-main-menu {
  max-width: 981px;
  width: 100%;
}
.header-main-menu .main-menu-item a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6E5F5F;
  mix-blend-mode: normal;
  opacity: 0.3;
  text-decoration: none;
  margin: 0 26px;
  height: 56px;
  align-items: center;
  display: flex;
}
.header-main-menu .main-menu-item-active a {
  color: #40A3F8;
  opacity: 1;
}
.header_get-started {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_get-started a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 142px;
  height: 47px;
  background: #40A3F8;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-left: 26px;
}
#home {
  position: relative;
  height: 100vh;
}
.background {
  z-index: -1;
  top: -71px;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(img/mint_background.jpg);
  background-repeat: no-repeat;
  mix-blend-mode: normal;
  opacity: 0.3;
  backdrop-filter: blur(20px);