.contacts {
  position: relative;

  .contacts__wrapper {
    background: #fff;

    .contacts__items {
      max-width: 500px;
      width: 100%;
      margin: auto;
      text-align: center;

      h3 {
        padding-top: 70px;
        font-family: "Courier Prime";
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
      }

      p {
        font-family: "Courier Prime";
        font-weight: 400;
        font-size: 19px;
        padding-top: 30px;

        a {
          color: #4e4a67;

          &::selection {
            background: #4e4a67;
            color: #ffffff;
          }
        }
      }

      .telegram {
        color: #4e4a67;

        &::selection {
          background: #4e4a67;
          color: #ffffff;
        }
      }

      .social-networks {
        padding: 80px 0 50px 30px;
        font-size: 25px;

        .social-networks__item {
          color: rgb(26, 25, 25);
          outline: 0;

          i {
            padding-right: 30px;

            &:hover {
              color: rgb(122, 69, 79);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .contacts .contacts__wrapper .contacts__items {

    h3 {
      font-size: 30px;
    }

    p {
      font-size: 14px;
    }

    .social-networks {
      font-size: 20px;
    }
  }
}