.footer {
  position: relative;
  background: white;

  .footer_wrapper {
    max-width: 500px;
    width: 100%;
    margin: auto;
    text-align: center;
    border-top: 1px solid rgb(218 218 218);
  
    .footer_items {
      display: flex;
      justify-content: center;
      color: #383632;
      font-family: "Courier Prime";
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #383632;
      padding: 15px 0;

      .footer_item1 {
        opacity: 0.6;
        padding-right: 15px;
      }

      .footer_item2 {
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 768px) {

  .footer .footer_wrapper .footer_items {
    font-size: 12px;
  }
}