.projects {
  position: relative;

  .projects__wrapper {
    background: url(../../img/texture2.webp);
    background-size: cover;
    padding: 100px 0;
    text-align: center;

    .projects__title {
      font-family: "Courier Prime";
      padding-bottom: 40px;
      text-transform: uppercase;

      h2 {
        font-weight: 700;
        font-size: 40px;
      }
      p {
        font-weight: 400;
        font-size: 24px;
      }
    }

    .projects__items {
      padding: 0 15px;

      .tabs {
        max-width: 1440px;
        width: 100%;
        margin: auto;

        .inner_part {

          img {
            max-width: 800px;
            width: 100%;
            border-radius: 10px;
          }

          .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 0 20px 20px;
            font-family: "Courier Prime";

            .title {
              font-size: 30px;
              font-weight: 700;
              color: #0d0925;
              margin: 0 0 60px 0;
            }

            .text {
              text-align: start;
              font-size: 19px;
              color: #4e4a67;
              margin: 0 auto 80px auto;
              line-height: 1.5em;
              text-align: justify;
              line-height: 20px;
            }

            a {
              width: 200px;
              border: none;
              font-size: 14px;
              letter-spacing: 4px;
              line-height: 50px;
              font-family: "Courier Prime";
              font-weight: 700;
              color: #383632;
              float: right;
              border: 0 solid;
              box-shadow: inset 0 0 4px rgb(122, 69, 79);
              outline: 1px solid;
              outline-color: rgb(122, 69, 79, 0.5);
              outline-offset: 0px;
              text-shadow: none;
              transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        
              &:hover {
                border: 1px solid;
                box-shadow: inset 0 0 20px rgba(122, 69, 79, .5), 0 0 20px rgba(122, 69, 79, .2);
                outline-color: rgba(122, 69, 79, 0);
                outline-offset: 15px;
                text-shadow: 1px 1px 2px rgb(202, 171, 177); 
              }         
            }
          }
        }
      }
  
      .tabs>input[type="radio"] {
        display: none;
      }
  
      .tabs>div {
        display: none;
        border: 1px solid #e0e0e0;
        padding: 15px 15px;
        font-size: 16px;
      }
  
      #tab-btn-1:checked~#content-1,
      #tab-btn-2:checked~#content-2,
      #tab-btn-3:checked~#content-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: white;
        border-radius: 10px;
      }
  
      .tabs>label {
        max-width: 140px;
        width: 100%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: #f5f5f5;
        border: 1px solid #e0e0e0;
        padding: 2px 8px;
        font-size: 16px;
        line-height: 2.5;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
        cursor: pointer;
        position: relative;
        top: 1px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-family: "Courier Prime";
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
      }
  
      .tabs>label:not(:first-of-type) {
        border-left: none;
      }
  
      .tabs>input[type="radio"]:checked+label {
        background-color: #fff;
        border-bottom: 1px solid #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: rgb(122 69 79);
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 1095px) {

  .projects .projects__wrapper .projects__items #tab-btn-1:checked ~ #content-1, 
  .projects .projects__wrapper .projects__items #tab-btn-2:checked ~ #content-2, 
  .projects .projects__wrapper .projects__items #tab-btn-3:checked ~ #content-3 {
    grid-template-columns: 1fr;
    display: grid;
  }

  .projects .projects__wrapper .projects__items .tabs {
    max-width: 830px;
  }
}

@media (max-width: 768px) {
  .projects .projects__wrapper .projects__title {

    h2 {
      font-size: 30px;
    }
  }
}

@media (max-width: 410px) {

  .projects .projects__wrapper {
    padding: 50px 0;

    .projects__items {

      .tabs > label {
        max-width: 92px;
        font-size: 12px;
      }
  
      .tabs .inner_part .content {
        padding: 20px 0 20px 0;
  
        .title {
          font-size: 20px;
          margin: 0 0 30px 0;
        }
  
        .text {
          font-size: 12px;
        }
  
        a {
          line-height: 40px;
          width: 130px;
          font-size: 12px;
        }
      }
    }
  }
}
