.swiper {
  max-width: 1000px;
  width: 100%;
}

.swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper .swiper-wrapper .swiper-slide {
  padding-left: 20px;
}

.swiper .swiper-wrapper .swiper-slide h3 {
  font-family: "Poppins Light";
  font-weight: 300;
  color: #fff;
  line-height: 23px;
  display: flex;
}

@media (max-width: 1200px) {
  .swiper {
    max-width: 620px;
  }
}

@media (max-width: 768px) {
  .swiper {
    max-width: 520px;
  }
}

@media (max-width: 650px) {
  .swiper {
    max-width: 420px;
  }
}

@media (max-width: 540px) {
  .swiper {
    max-width: 300px;
  }
}