.gallery {

  .gallery__title {
    text-align: center;

    svg {
      margin: 150px 0 30px 0;
    }

    h2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 54px;
      text-align: center;
      color: #2C4058;
    }
  }

  .gallery__items {
    max-width: 1170px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "img1 img1 img2 img4"
      "img1 img1 img3 img5";
    gap: 10px;
    padding-top: 90px;

    .gallery__item  {
      width: 100%;
      cursor: url(../../src/img/Group.webp), pointer;
    }

    .gallery__item1 {
      grid-area: img1;
    }

    .gallery__item2 {
      grid-area: img2;
    }

    .gallery__item3 {
      grid-area: img3;
    }

    .gallery__item4 {
      grid-area: img4;
    }

    .gallery__item5 {
      grid-area: img5;
    }
  }

  .gallery__button {
    display: flex;
    justify-content: center;

    button {
      margin: 60px 0 150px 0;
      width: 190px;
      height: 50px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #000000;
      background: none;
      transition: 0.1s ease-in;

      &:hover, &:focus {
        box-shadow: 0 0.5em 0.5em -0.4em #2C4058;
        transform: translateY(-0.25em);
      }
    }
  }
}

.fancybox__image {
  width: 580px;
  height: 438px;
}

@media (max-width: 768px) {

  .gallery .gallery__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: 
      "img1 img1"
      "img2 img3"
      "img4 img5";
    padding: 0 15px;
  }

  .gallery .gallery__button button {
    margin: 50px 0 70px 0;
  }

  .gallery .gallery__title {

    svg {
      margin: 70px 0 50px 0; 
    }

    h2 {
      padding-bottom: 50px;
    }
  }
}

@media (max-width: 455px) {

  .gallery {

    .gallery__title h2 {
      font-size: 40px;
    }

    .gallery__items {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
      padding: 0 15px;
    }
  }
}