.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 120px;
  left: 34px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 40px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #FFFFFF;
  background-color: var(--swiper-pagination-bullet-inactive-background-color, #fff);
}

.swiper-next, .swiper-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  position: absolute;
  cursor: pointer;

  &:active {
    border: 10px solid #ffffff66;
  }
}

.swiper-next {
  right: 15px;
  top: 53%;
}

.swiper-prev {
  left: 30px;
  top: 53%;
}

@media (max-width: 768px) {
  .dot_nav {
    display: none;
  }

  .swiper-slide {
    right: 8px;
  }
}

@media (max-width: 768px) {
  .news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items {
    max-width: 300px;

    .news__item {

      .news__img img {
        width: 300px;
      }
  
      .news_content{
        width: 300px;
        text-align: start;
      }
    }
  }
}