@charset "UTF-8";
@font-face {
  font-family: "Courier Prime";
  src: url(../../fonts/CourierPrime-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Courier Prime";
  src: url(../../fonts/CourierPrime-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "La Belle Aurore";
  src: url(../../fonts/LaBelleAurore-Regular.ttf);
  font-weight: 400;
}
* {
  box-sizing: border-box;
  transition: 0.3s;
}

* a {
  text-decoration: none;
}

.header {
  background: url(../../img/my_photo.png);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  filter: opacity(0.7);
}
.header .header__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px 0 15px;
  padding-bottom: 150px;
}
.header .header__wrapper .header__logo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 15px;
  display: inline-block;
}
.header .header__wrapper .header__logo .logo__items {
  color: rgb(26, 25, 25);
}
.header .header__wrapper .header__logo .logo__items .logo__name {
  font-size: 21px;
}
.header .header__wrapper .header__logo .logo__items .logo__surname {
  font-size: 28px;
}
.header .header__wrapper .header__nav .nav__items {
  padding-top: 300px;
}
.header .header__wrapper .header__nav .nav__items .nav__item {
  font-family: "Courier Prime";
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 40px;
}
.header .header__wrapper .header__nav .nav__items .nav__item a {
  color: rgb(25, 25, 25);
}
.header .header__wrapper .header__nav .nav__items .nav__item a:hover {
  color: rgb(122, 69, 79);
}
.header .header__wrapper .header__burger-menu {
  display: none;
  align-items: center;
  padding: 0 15px;
  z-index: 1;
}
.header .header__wrapper .header__burger-menu .burger-menu__conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 20px;
}
.header .header__wrapper .header__burger-menu span {
  margin: auto;
  width: 34px;
  height: 2px;
  background-color: black;
}
.header .header__wrapper .header__burger-menu span:before {
  content: "";
  position: absolute;
  width: 34px;
  height: 2px;
  background-color: black;
  transform: translateY(-8px);
  transition: 0.4s;
}
.header .header__wrapper .header__burger-menu span:after {
  content: "";
  position: absolute;
  width: 34px;
  height: 2px;
  background-color: black;
  transform: translateY(8px);
  transition: 0.4s;
}
.header .header__wrapper .header__burger-menu_active span {
  height: 0;
}
.header .header__wrapper .header__burger-menu_active span:before {
  transform: rotate(45deg);
  width: 25px;
}
.header .header__wrapper .header__burger-menu_active span::after {
  transform: rotate(-45deg);
  width: 25px;
  margin-left: 0;
}
.header .header__wrapper .header__scroll {
  grid-area: scroll;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
.header .header__wrapper .header__scroll p {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 10px;
  letter-spacing: 1px;
  padding-top: 30px;
}
.header .header__wrapper .header__text {
  font-family: "Roboto";
  color: rgb(62, 39, 39);
  z-index: 1;
  margin-top: -470px;
  padding-bottom: 255px;
  padding-left: 200px;
}
.header .header__wrapper .header__text h1 {
  font-weight: 700;
  font-size: 40px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8196078431);
}
.header .header__wrapper .header__text p {
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8196078431);
  margin-top: 10px;
}
.header .header__wrapper .header__text .social-networks {
  margin-top: 90px;
  font-size: 25px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8196078431);
}
.header .header__wrapper .header__text .social-networks .social-networks__item {
  color: rgb(26, 25, 25);
  outline: 0;
}
.header .header__wrapper .header__text .social-networks .social-networks__item i {
  padding-right: 10px;
}
.header .header__wrapper .header__text .social-networks .social-networks__item i:hover {
  color: rgb(122, 69, 79);
}
.header .header__wrapper .header__text .social-networks .social-networks__item i:active {
  color: rgb(113, 110, 110);
}

@media (max-width: 768px) {
  .header {
    background-size: 700px;
  }
  .header .header__wrapper {
    height: 850px;
  }
  .header .header__wrapper .header__nav {
    display: none;
  }
  .header .header__wrapper .header__burger-menu {
    display: block;
    top: 25px;
    position: absolute;
    right: 0;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8196078431);
  }
  .header .header__wrapper .header__scroll {
    display: none;
  }
  .header .header__wrapper .header__text {
    margin-top: 265px;
    padding-left: 16px;
  }
  .header .header__items_active {
    align-items: center;
  }
  .header .header__items_active .header__logo {
    display: none;
  }
  .header .header__items_active .header__nav {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 100%;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
  }
  .header .header__items_active .header__nav .nav__items {
    padding-top: 0;
  }
  .header .header__items_active .header__text {
    padding-top: 150px;
  }
}
.about .about__conteiner {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 0;
}
.about .about__conteiner .about__wrapper {
  max-width: 700px;
  width: 100%;
  background: rgba(202, 171, 177, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  line-height: 20px;
  z-index: 1;
  color: #383632;
  margin-top: -222px;
  height: 450px;
}
.about .about__conteiner .about__wrapper h2 {
  font-family: "Courier Prime";
  font-weight: 700;
  font-size: 26px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.about .about__conteiner .about__wrapper h2::before {
  content: "<h2>";
  font-family: "La Belle Aurore", cursive;
  color: #707072;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}
.about .about__conteiner .about__wrapper h2::after {
  content: "</h2>";
  font-family: "La Belle Aurore", cursive;
  color: #707072;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}
.about .about__conteiner .about__wrapper p {
  font-family: "Courier Prime";
  font-weight: 400;
  font-size: 16px;
}
.about .about__conteiner .about__wrapper p::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  color: #707072;
  padding: 10px;
}
.about .about__conteiner .about__wrapper p::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  color: #707072;
  padding: 10px;
}
.about .about__conteiner .about__wrapper .about__button {
  padding-top: 65px;
  text-align: center;
}
.about .about__conteiner .about__wrapper .about__button .about__cv {
  width: 250px;
  height: 55px;
  overflow: hidden;
  display: block;
  text-align: center;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 50px;
  font-family: "Courier Prime";
  font-weight: 700;
  border: 1px solid rgb(26, 25, 25);
  display: inline-block;
  text-align: center;
  background-image: linear-gradient(135deg, rgb(122, 69, 79) 50%, transparent 51%);
  background-size: 100px 100px;
  background-position: -50px -50px;
  background-repeat: no-repeat;
  transition: all ease 0.8s;
  color: #383632;
}
.about .about__conteiner .about__wrapper .about__button .about__cv:hover {
  color: rgb(244, 240, 240);
  background-size: 200% 200%;
  background-position: 0px 0px;
}
.about .about__conteiner .about__wrapper .about__button .about__cv::after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 3px;
  background: rgb(26, 25, 25);
  position: absolute;
}

.skills {
  position: relative;
}
.skills .skills__about {
  background: url(../../img/bg_about.jpg);
  background-size: cover;
  padding-top: 300px;
  text-align: center;
}
.skills .skills__about .skills__title {
  font-family: "Courier Prime";
  padding-bottom: 20px;
  text-transform: uppercase;
}
.skills .skills__about .skills__title h2 {
  font-weight: 700;
  font-size: 40px;
}
.skills .skills__about .skills__title p {
  font-weight: 400;
  font-size: 24px;
}
.skills .skills__about .skills__title p span {
  color: rgb(122, 69, 79);
  font-weight: 700;
  background: rgba(200, 200, 217, 0.4);
}
.skills .skills__about .skills__list {
  font-family: "Courier Prime";
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.skills .skills__about .skills__list .list__items {
  max-width: 650px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 120px;
}
.skills .skills__about .skills__list .list__items li {
  padding-bottom: 20px;
}
.skills .skills__about .skills__list .list__items .list__item {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}
.skills .skills__about .skills__list .list__items .list__item h3 {
  color: rgba(100, 100, 100, 0.9);
  display: flex;
}
.skills .skills__about .skills__list .list__items .list__item p {
  display: flex;
  justify-content: flex-start;
}
.skills .skills__about .skills__list .list__items .list__item .list__item_style {
  width: 0%;
  height: 5px;
  background: rgb(122, 69, 79);
  margin-top: 5px;
  background-size: 353px 5px;
  border-radius: 12px;
  position: relative;
}
.skills .skills__about .skills__list .list__items .list__item .list__item_style .list__item_shadow {
  width: 100%;
  height: 15px;
  background: linear-gradient(to bottom, rgba(185, 173, 173, 0.17), rgba(97, 91, 91, 0.1), rgba(53, 51, 51, 0));
  transform: skew(45deg) translate(4px, 3px);
}
.skills .skills__about .skills__list .list__items .list__item .full-line {
  position: absolute;
  max-width: 494px;
  width: 100%;
  height: 5px;
  background: rgba(200, 200, 217, 0.4117647059);
  top: 25px;
  left: 163px;
}
.skills .skills__about .skills__list .list__items .list__item .item1 {
  -webkit-animation: loading1 2s ease-in-out forwards;
          animation: loading1 2s ease-in-out forwards;
}
@-webkit-keyframes loading1 {
  to {
    width: 90%;
  }
}
@keyframes loading1 {
  to {
    width: 90%;
  }
}
.skills .skills__about .skills__list .list__items .list__item .item2 {
  -webkit-animation: loading2 2s ease-in-out forwards;
          animation: loading2 2s ease-in-out forwards;
}
@-webkit-keyframes loading2 {
  to {
    width: 30%;
  }
}
@keyframes loading2 {
  to {
    width: 30%;
  }
}
.skills .skills__about .skills__list .list__items .list__item .item3 {
  -webkit-animation: loading3 2s ease-in-out forwards;
          animation: loading3 2s ease-in-out forwards;
}
@-webkit-keyframes loading3 {
  to {
    width: 70%;
  }
}
@keyframes loading3 {
  to {
    width: 70%;
  }
}
.skills .skills__about .skills__list .list__items .list__item .item4 {
  -webkit-animation: loading4 2s ease-in-out forwards;
          animation: loading4 2s ease-in-out forwards;
}
@-webkit-keyframes loading4 {
  to {
    width: 70%;
  }
}
@keyframes loading4 {
  to {
    width: 70%;
  }
}
.skills .skills__about .skills__list .list__items .list__item .item5 {
  -webkit-animation: loading5 2s ease-in-out forwards;
          animation: loading5 2s ease-in-out forwards;
}
@-webkit-keyframes loading5 {
  to {
    width: 60%;
  }
}
@keyframes loading5 {
  to {
    width: 60%;
  }
}
.skills .skills__about .skills__list .list__items .list__item .item6 {
  -webkit-animation: loading6 2s ease-in-out forwards;
          animation: loading6 2s ease-in-out forwards;
}
@-webkit-keyframes loading6 {
  to {
    width: 70%;
  }
}
@keyframes loading6 {
  to {
    width: 70%;
  }
}
.skills .skills__about .skills__list .list__items .list__item .item7 {
  -webkit-animation: loading7 2s ease-in-out forwards;
          animation: loading7 2s ease-in-out forwards;
}
@-webkit-keyframes loading7 {
  to {
    width: 50%;
  }
}
@keyframes loading7 {
  to {
    width: 50%;
  }
}
.skills .skills__about .skills__additional {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.skills .skills__about .skills__additional .skills__additional-items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  gap: 20px;
}
.skills .skills__about .skills__additional .skills__additional-items .skills__additional-item {
  display: flex;
  align-items: center;
  background: #dbd3ca;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  justify-content: center;
}
.skills .skills__about .skills__additional .skills__additional-items .skills__additional-item img {
  width: 30px;
  height: 30px;
}
.skills .skills__about .skills__additional .skills__additional-items .skills__additional-item p {
  padding-left: 10px;
  font-family: "Courier Prime";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.skills .skills__about .skills__additional-title {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.skills .skills__about .skills__additional-title h3 {
  font-family: "Courier Prime";
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
}

@media (max-width: 950px) {
  .skills .skills__about .skills__items .skills__additional {
    max-width: 600px;
  }
  .skills .skills__about .skills__items .skills__additional .skills__additional-items .skills__additional-item img {
    width: 20px;
    height: 20px;
  }
  .skills .skills__about .skills__items .skills__additional .skills__additional-items .skills__additional-item p {
    font-size: 12px;
  }
}
.projects {
  position: relative;
}
.projects .projects__wrapper {
  background: url(../../img/texture2.webp);
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}
.projects .projects__wrapper .projects__title {
  font-family: "Courier Prime";
  padding-bottom: 40px;
  text-transform: uppercase;
}
.projects .projects__wrapper .projects__title h2 {
  font-weight: 700;
  font-size: 40px;
}
.projects .projects__wrapper .projects__title p {
  font-weight: 400;
  font-size: 24px;
}
.projects .projects__wrapper .projects__items {
  padding: 0 15px;
}
.projects .projects__wrapper .projects__items .tabs {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
.projects .projects__wrapper .projects__items .tabs .inner_part img {
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
}
.projects .projects__wrapper .projects__items .tabs .inner_part .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0 20px 20px;
  font-family: "Courier Prime";
}
.projects .projects__wrapper .projects__items .tabs .inner_part .content .title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin: 0 0 60px 0;
}
.projects .projects__wrapper .projects__items .tabs .inner_part .content .text {
  text-align: start;
  font-size: 19px;
  color: #4e4a67;
  margin: 0 auto 80px auto;
  line-height: 1.5em;
  text-align: justify;
  line-height: 20px;
}
.projects .projects__wrapper .projects__items .tabs .inner_part .content a {
  width: 200px;
  border: none;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 50px;
  font-family: "Courier Prime";
  font-weight: 700;
  color: #383632;
  float: right;
  border: 0 solid;
  box-shadow: inset 0 0 4px rgb(122, 69, 79);
  outline: 1px solid;
  outline-color: rgba(122, 69, 79, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.projects .projects__wrapper .projects__items .tabs .inner_part .content a:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(122, 69, 79, 0.5), 0 0 20px rgba(122, 69, 79, 0.2);
  outline-color: rgba(122, 69, 79, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px rgb(202, 171, 177);
}
.projects .projects__wrapper .projects__items .tabs > input[type=radio] {
  display: none;
}
.projects .projects__wrapper .projects__items .tabs > div {
  display: none;
  border: 1px solid #e0e0e0;
  padding: 15px 15px;
  font-size: 16px;
}
.projects .projects__wrapper .projects__items #tab-btn-1:checked ~ #content-1,
.projects .projects__wrapper .projects__items #tab-btn-2:checked ~ #content-2,
.projects .projects__wrapper .projects__items #tab-btn-3:checked ~ #content-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
  border-radius: 10px;
}
.projects .projects__wrapper .projects__items .tabs > label {
  max-width: 120px;
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  padding: 2px 8px;
  font-size: 16px;
  line-height: 2.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Courier Prime";
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}
.projects .projects__wrapper .projects__items .tabs > label:not(:first-of-type) {
  border-left: none;
}
.projects .projects__wrapper .projects__items .tabs > input[type=radio]:checked + label {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: rgb(122, 69, 79);
  font-weight: 700;
}

@media (max-width: 1095px) {
  .projects .projects__wrapper .projects__items #tab-btn-1:checked ~ #content-1,
.projects .projects__wrapper .projects__items #tab-btn-2:checked ~ #content-2,
.projects .projects__wrapper .projects__items #tab-btn-3:checked ~ #content-3 {
    grid-template-columns: 1fr;
    display: grid;
  }
  .projects .projects__wrapper .projects__items .tabs {
    max-width: 830px;
  }
}
.experience {
  position: relative;
}
.experience .experience__wrapper {
  background: url(../../img/texture2.webp);
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}
.experience .experience__wrapper .experience__items {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
.experience .experience__wrapper .experience__items .experience__title {
  font-family: "Courier Prime";
  padding-bottom: 40px;
  text-transform: uppercase;
}
.experience .experience__wrapper .experience__items .experience__title h2 {
  font-weight: 700;
  font-size: 40px;
}
.experience .experience__wrapper .experience__items .experience__title p {
  font-weight: 400;
  font-size: 24px;
}
.experience .experience__wrapper .experience__items .time-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.experience .experience__wrapper .experience__items .time-line .circle {
  padding-right: 2px;
}
.experience .experience__wrapper .experience__items .time-line .experience__cards {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 20px;
  padding: 50px 15px 0 15px;
}
.experience .experience__wrapper .experience__items .time-line .experience__cards .experience__card {
  max-width: 425px;
  width: 100%;
  background: white;
  text-align: justify;
  color: #383632;
  padding: 20px;
  border-radius: 30px;
  margin-top: -29px;
}
.experience .experience__wrapper .experience__items .time-line .experience__cards .experience__card .experience__name {
  font-family: "Courier Prime";
  display: flex;
  padding-bottom: 10px;
}
.experience .experience__wrapper .experience__items .time-line .experience__cards .experience__card .experience__name .experience__name-position {
  font-weight: 700;
  font-size: 18px;
}
.experience .experience__wrapper .experience__items .time-line .experience__cards .experience__card .experience__name .experience__name-position::after {
  content: "/";
}
.experience .experience__wrapper .experience__items .time-line .experience__cards .experience__card .experience__name .experience__name-company {
  font-weight: 700;
  font-size: 18px;
  color: rgb(122, 69, 79);
}
.experience .experience__wrapper .experience__items .time-line .experience__cards .experience__card p {
  font-family: "Courier Prime";
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #383632;
}
.experience .experience__wrapper .experience__items .time-line .experience__cards .experience__details {
  display: flex;
  flex-direction: column;
}
.experience .experience__wrapper .experience__items .time-line .experience__cards .experience__details p {
  font-family: "Courier Prime";
  color: #707072;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}
.experience .experience__wrapper .experience__items .time-line .experience__cards .details1, .experience .experience__wrapper .experience__items .time-line .experience__cards .details3 {
  align-items: flex-start;
  padding-top: 40px;
}
.experience .experience__wrapper .experience__items .time-line .experience__cards .details2 {
  align-items: flex-end;
  padding-top: 48px;
}

@media (max-width: 1095px) {
  .experience .experience__wrapper {
    padding-bottom: 50px;
  }
  .experience .experience__wrapper .experience__items .time-line {
    align-items: flex-start;
    padding-left: 30px;
  }
  .experience .experience__wrapper .experience__items .time-line .experience__cards {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
  .experience .experience__wrapper .experience__items .time-line .experience__cards .experience__details {
    display: none;
  }
  .experience .experience__wrapper .experience__items .time-line .experience__cards .experience__card {
    max-width: 800px;
    width: 100%;
    margin-bottom: 40px;
  }
  .experience .experience__wrapper .experience__items .time-line .experience__cards .card1 .experience__name::after {
    content: "/May 2019 - March 2021/Saudi Arabia";
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    opacity: 0.8;
  }
  .experience .experience__wrapper .experience__items .time-line .experience__cards .card2 .experience__name::after {
    content: "/September 2016 – September 2018/Ukraine";
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    opacity: 0.8;
  }
  .experience .experience__wrapper .experience__items .time-line .experience__cards .card3 .experience__name::after {
    content: "/September 2013 – September 2016/Ukraine";
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    opacity: 0.8;
  }
}
.contacts {
  position: relative;
}
.contacts .contacts__wrapper {
  background: #fff;
}
.contacts .contacts__wrapper .contacts__items {
  max-width: 500px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.contacts .contacts__wrapper .contacts__items h3 {
  padding-top: 70px;
  font-family: "Courier Prime";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}
.contacts .contacts__wrapper .contacts__items p {
  font-family: "Courier Prime";
  font-weight: 400;
  font-size: 19px;
  padding-top: 30px;
}
.contacts .contacts__wrapper .contacts__items p a {
  color: #4e4a67;
}
.contacts .contacts__wrapper .contacts__items p a::-moz-selection {
  background: #4e4a67;
  color: #ffffff;
}
.contacts .contacts__wrapper .contacts__items p a::selection {
  background: #4e4a67;
  color: #ffffff;
}
.contacts .contacts__wrapper .contacts__items .telegram {
  color: #4e4a67;
}
.contacts .contacts__wrapper .contacts__items .telegram::-moz-selection {
  background: #4e4a67;
  color: #ffffff;
}
.contacts .contacts__wrapper .contacts__items .telegram::selection {
  background: #4e4a67;
  color: #ffffff;
}
.contacts .contacts__wrapper .contacts__items .social-networks {
  padding: 80px 0 50px 30px;
  font-size: 25px;
}
.contacts .contacts__wrapper .contacts__items .social-networks .social-networks__item {
  color: rgb(26, 25, 25);
  outline: 0;
}
.contacts .contacts__wrapper .contacts__items .social-networks .social-networks__item i {
  padding-right: 30px;
}
.contacts .contacts__wrapper .contacts__items .social-networks .social-networks__item i:hover {
  color: rgb(122, 69, 79);
}

.footer {
  position: relative;
  background: white;
}
.footer .footer_wrapper {
  max-width: 500px;
  width: 100%;
  margin: auto;
  text-align: center;
  border-top: 1px solid rgb(218, 218, 218);
}
.footer .footer_wrapper .footer_items {
  display: flex;
  justify-content: center;
  color: #383632;
  font-family: "Courier Prime";
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #383632;
  padding: 15px 0;
}
.footer .footer_wrapper .footer_items .footer_item1 {
  opacity: 0.6;
  padding-right: 15px;
}
.footer .footer_wrapper .footer_items .footer_item2 {
  font-weight: 700;
}