@font-face {
  font-family: "Venzel";
  src: url(../../src/fonts/Venzel-bold-Regular.woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.main-conteiner {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.main-conteiner #wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.main-conteiner #wrapper .quote .card {
  position: relative;
  font-family: "Venzel";
  transform: rotateX(180deg);
  transform: rotateY(180deg);
  width: 200px;
  height: 300px;
}

.main-conteiner #wrapper .quote .card .cards-2-sides {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-conteiner #wrapper .quote .card .cards-2-sides .front,
.main-conteiner #wrapper .quote .card .cards-2-sides .back {
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-conteiner #wrapper .quote .card .cards-2-sides .front {
  background-color: white;
  border-radius: 11px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.74);
}

.main-conteiner #wrapper .quote .card .cards-2-sides .front .top-letter {
  position: absolute;
  top: 5px;
  left: 13px;
  font-size: 45px;
  line-height: 26px;
}

.main-conteiner #wrapper .quote .card .cards-2-sides .front .bottom-letter {
  position: absolute;
  bottom: 6px;
  right: 7px;
  font-size: 45px;
  line-height: 26px;
  transform: rotateX(180deg);
}

.main-conteiner #wrapper .quote .card .cards-2-sides .front .red {
  color: red;
}

.main-conteiner #wrapper .quote .card .cards-2-sides .front .figures {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 300px;
  align-items: center;
}

.main-conteiner #wrapper .quote .card .cards-2-sides .front .figures .figure1 {
  margin: 15px 0 0 12px;
}

.main-conteiner #wrapper .quote .card .cards-2-sides .front .figures .figure-main {
  margin: auto;
}

.main-conteiner #wrapper .quote .card .cards-2-sides .front .figures .figure2 {
  margin: 180px 0 0 167px;
  transform: rotateX(180deg);
  position: absolute;
}

.main-conteiner #wrapper .quote .card .cards-2-sides .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #28282B;
  border-radius: 10px;
}

.main-conteiner #wrapper .quote .card:hover .cards-2-sides {
  transform: rotateY(180deg);
}

.main-conteiner #randomize {
  width: 200px;
  height: 300px;
  background: #28282B;
  border-radius: 10px;
}