.footer {
  background: rgba(23,42,71);

  .footer__conteiner {
    max-width: 900px;
    width: 100%;
    margin: auto;

    .footer__items {
      display: flex;
      justify-content: space-around;
      padding: 50px 15px;

      .footer__left-part {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .footer__title {
          font-family: "Arial Black";
          font-weight: 700;
          color: white;
          font-size: 22px;
        }

        .footer__form {
          display: flex;
          gap: 20px;

          .form-email {
            border-bottom: 1px solid #fff;
            padding: 0 0 0 7px;
            max-width: 370px;
            width: 100%;
            display: block;
            position: relative;

            .form-field {
              opacity: 1;
            }

            input {
              background: none;
              border: none;
              font-weight: 400;
              font-size: 18px;
              line-height: 27px;
              color: #fff;
              opacity: 0.5;
              padding-bottom: 11px;
              box-sizing: border-box;
            }

            .email-errors {
              padding-top: 10px;
              color: #fff;
              position: absolute;
            }
          }

          .email-submit {
            width: 150px;
            height: 40px;
            background: #2f0cdd;
            border: none;
            color: #fff;
            font-family: "Arial Black";
            font-weight: 700;
            color: #fff;
            font-size: 16px;
            cursor: pointer;

            &:hover {
              background: #ff7b00;
            }
          }
        }
      }
    }

    .footer__bottom {
      padding-bottom: 50px;

      p {
        font-family: "Poppins Light";
        font-weight: 300;
        color: #fff;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer .footer__conteiner .footer__items {
    flex-direction: column;

    .footer__left-part {
      align-items: center;
    }
  }

  .footer__social {
    justify-content: center;
    padding: 15px 0;
  }

  .footer__nav-items {
    flex-direction: row;
  }
}

@media (max-width: 540px) {
  .footer .footer__conteiner .footer__items .footer__left-part {

    .footer__form {
      flex-direction: column;
      align-items: center;

      .email-submit {
        margin-top: 15px;
      }
    }

    .footer__title {
      font-size: 18px;
    }
  }
}